<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <modules>
    <module assemblyFile="DashboardModule.dll" moduleType="DashboardModule.DashboardModule, DashboardModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DashboardModule" startupLoaded="true" />
    <module assemblyFile="TimeLineModule.dll" moduleType="TimeLineModule.TimeLineModule, TimeLineModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TimeLineModule" startupLoaded="true" />
    <module assemblyFile="NavigationModule.dll" moduleType="NavigationModule.NavigationModule, NavigationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NavigationModule" startupLoaded="true" />
  </modules>
</configuration>