<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <modules>
    <module assemblyFile="DashboardModule.dll" moduleType="DashboardModule.DashboardModule, DashboardModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DashboardModule" startupLoaded="true" />
    <module assemblyFile="TimeLineModule.dll" moduleType="TimeLineModule.TimeLineModule, TimeLineModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TimeLineModule" startupLoaded="true" />
    <module assemblyFile="NavigationModule.dll" moduleType="NavigationModule.NavigationModule, NavigationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="NavigationModule" startupLoaded="true" />
    <module assemblyFile="MapModule.dll" moduleType="MapModule.MapModule, MapModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MapModule" startupLoaded="true" />
    <module assemblyFile="MonitorsModule.dll" moduleType="MonitorsModule.MonitorsModule, MonitorsModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MonitorsModule" startupLoaded="true" />
    <module assemblyFile="PresentationModule.dll" moduleType="PresentationModule.PresentationModule, PresentationModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PresentationModule" startupLoaded="true" />
  </modules>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=115.28.133.200;port=3306;Initial Catalog=orchard;user id=lyc;password=Abc19900506;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=115.28.133.200;port=3306;Initial Catalog=orchard;user id=lyc;password=Abc19900506;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" executionTimeout="8000" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" />
  </system.web>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.11.0" newVersion="8.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GMap.NET.Core" publicKeyToken="b85b9027b614afef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>