@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/MySelf/Custom.js"></script>
<script src="~/Scripts/MySelf/PageValidate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var code = "@ViewBag.code";
        var msg = "@ViewBag.msg";
        if (code == "1") {
            MyAlertDialog("", "密码修改成功！");
        } else if (msg != "") {
            MyAlertDialog("", msg);
        }
    });
    //表单输入验证
    function CheckForm() {
        var _oldPwd = $("input[name='oldPwd']");
        var _newPwd = $("input[name='newPwd']");
        var _confirmPwd = $("input[name='confirmPwd']");
        if (ValidateEmpty(_oldPwd.val())) {
            MyAlertDialog("", "请输入原始密码！"); return;
        }

        if (ValidateEmpty(_newPwd.val())) {
            MyAlertDialog("", "请输入新设密码！"); return;
        }

        if (ValidateEmpty(_confirmPwd.val())) {
            MyAlertDialog("", "请输入确定密码！"); return;
        }

        if (_newPwd.val() != _confirmPwd.val()) {
            MyAlertDialog("", "新密码与确认密码输入不一致！"); return;
        }

        $("form").submit();
    }
</script>
<div class="column">
    <div class="c-bar clearfix">

        <div class="l">
            <a href="javascript:history.go(-1);" class="carte-nav-btn btn-back" title="返回"></a>
        </div>
        <span class="c-group">
            修改密码
        </span>
    </div>
    <div class="c-view">
        @using (Html.BeginForm())
        {
            <div class="msg-wrap">
                <div class="msg-compose">
                    <div class="msg-large">
                        <p class="mod-title">原始密码</p>
                        <p>
                            <input type="password" value="" name="oldPwd" class="mod-large" />
                        </p>
                    </div>
                    <div class="msg-large">
                        <p class="mod-title">新设密码</p>
                        <p>
                            <input type="password" value="" name="newPwd" class="mod-large" />
                        </p>
                    </div>
                    <div class="msg-large">
                        <p class="mod-title">确认密码</p>
                        <p>
                            <input type="password" value="" name="confirmPwd" class="mod-large" />
                        </p>
                    </div>
                    <div class="msg-large">
                        <input type="button" class="c-btn btn-blue" onclick="CheckForm()" value="保存" />
                        <a class="c-btn" onclick="history.go(-1);">取消</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

