@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRight</title>
    <link href="~/Content/css/Base.css" rel="stylesheet" />
    <link href="~/Content/css/Backstage.css" rel="stylesheet" />
</head>

<body>
    <div class="sock-img"><img src="~/Content/images/sock.png" alt="" /></div>
    <p class="sock-text">此页面您没有权限来访问。</p>
    <p class="sock-text1">您可以联系管理员来启用。</p>
    <p class="sock-text1">(用户权限)</p>
    <div>
    </div>
</body>
</html>
